#cont_uebersicht_ProgressBar1 {
  top: 40px;
  position: absolute;
}

#cont_uebersicht_ProgressBar1 {
  left: 79px;
  position: absolute;
}

#cont_uebersicht_ProgressBar1 {
  width: 20px;
}

#cont_uebersicht_ProgressBar1 {
  height: 320px;
}

#cont_uebersicht_ProgressBar1 {
  z-index: 0;
}

#cont_uebersicht_ProgressBar1 .pb-outer-area {
  border-style: none;
}

#cont_uebersicht_Line1 {
  z-index: 1;
}

#cont_uebersicht_Line4 {
  z-index: 2;
}

#cont_uebersicht_Line6 {
  z-index: 3;
}

#cont_uebersicht_Line7 {
  z-index: 4;
}

#cont_uebersicht_Line8 {
  z-index: 5;
}

#cont_uebersicht_Line9 {
  z-index: 6;
}

#cont_uebersicht_Line10 {
  z-index: 7;
}

#cont_uebersicht_Line11 {
  z-index: 8;
}

#cont_uebersicht_Line12 {
  z-index: 9;
}

#cont_uebersicht_Line14 {
  z-index: 10;
}

#cont_uebersicht_Line15 {
  z-index: 11;
}

#cont_uebersicht_Line16 {
  z-index: 12;
}

#cont_uebersicht_Line17 {
  z-index: 13;
}

#cont_uebersicht_Line18 {
  z-index: 14;
}

#cont_uebersicht_Line19 {
  z-index: 15;
}

#cont_uebersicht_Line20 {
  z-index: 16;
}

#cont_uebersicht_ProgressBar2 {
  top: 40px;
  position: absolute;
}

#cont_uebersicht_ProgressBar2 {
  left: 420px;
  position: absolute;
}

#cont_uebersicht_ProgressBar2 {
  width: 20px;
}

#cont_uebersicht_ProgressBar2 {
  height: 320px;
}

#cont_uebersicht_ProgressBar2 {
  z-index: 17;
}

#cont_uebersicht_ProgressBar2 .pb-outer-area {
  border-style: none;
}

#cont_uebersicht_Line23 {
  z-index: 18;
}

#cont_uebersicht_Line25 {
  z-index: 19;
}

#cont_uebersicht_Line27 {
  z-index: 20;
}

#cont_uebersicht_Line28 {
  z-index: 21;
}

#cont_uebersicht_Line31 {
  z-index: 22;
}

#cont_uebersicht_Line33 {
  z-index: 23;
}

#cont_uebersicht_Line35 {
  z-index: 24;
}

#cont_uebersicht_Line38 {
  z-index: 25;
}

#cont_uebersicht_Line41 {
  z-index: 26;
}

#cont_uebersicht_Line21 {
  z-index: 27;
}

#cont_uebersicht_Line29 {
  z-index: 28;
}

#cont_uebersicht_Line30 {
  z-index: 29;
}

#cont_uebersicht_Line37 {
  z-index: 30;
}

#cont_uebersicht_Line39 {
  z-index: 31;
}

#cont_uebersicht_Line40 {
  z-index: 32;
}

#cont_uebersicht_Line42 {
  z-index: 33;
}

#cont_uebersicht_Line43 {
  z-index: 34;
}

#cont_uebersicht_Ellipse1 {
  top: 400px;
  position: absolute;
}

#cont_uebersicht_Ellipse1 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Ellipse1 {
  width: 40px;
}

#cont_uebersicht_Ellipse1 {
  height: 41px;
}

#cont_uebersicht_Ellipse1 {
  z-index: 35;
}

#cont_uebersicht_Ellipse1 {
  background-color: white;
}

#cont_uebersicht_Ellipse2 {
  top: 400px;
  position: absolute;
}

#cont_uebersicht_Ellipse2 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Ellipse2 {
  width: 40px;
}

#cont_uebersicht_Ellipse2 {
  height: 42px;
}

#cont_uebersicht_Ellipse2 {
  z-index: 36;
}

#cont_uebersicht_Ellipse2 {
  background-color: #00c000;
}

#cont_uebersicht_Label1 {
  top: 400px;
  position: absolute;
}

#cont_uebersicht_Label1 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Label1 {
  width: 40px;
}

#cont_uebersicht_Label1 {
  height: 40px;
}

#cont_uebersicht_Label1 {
  z-index: 37;
}

#cont_uebersicht_Label1 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label1 {
  font-size: 20px;
}

#cont_uebersicht_Ellipse3 {
  top: 400px;
  position: absolute;
}

#cont_uebersicht_Ellipse3 {
  left: 380px;
  position: absolute;
}

#cont_uebersicht_Ellipse3 {
  width: 40px;
}

#cont_uebersicht_Ellipse3 {
  height: 41px;
}

#cont_uebersicht_Ellipse3 {
  z-index: 38;
}

#cont_uebersicht_Ellipse3 {
  background-color: white;
}

#cont_uebersicht_Ellipse4 {
  top: 400px;
  position: absolute;
}

#cont_uebersicht_Ellipse4 {
  left: 380px;
  position: absolute;
}

#cont_uebersicht_Ellipse4 {
  width: 40px;
}

#cont_uebersicht_Ellipse4 {
  height: 41px;
}

#cont_uebersicht_Ellipse4 {
  z-index: 39;
}

#cont_uebersicht_Ellipse4 {
  background-color: #00c000;
}

#cont_uebersicht_Label2 {
  top: 400px;
  position: absolute;
}

#cont_uebersicht_Label2 {
  left: 380px;
  position: absolute;
}

#cont_uebersicht_Label2 {
  width: 40px;
}

#cont_uebersicht_Label2 {
  height: 41px;
}

#cont_uebersicht_Label2 {
  z-index: 40;
}

#cont_uebersicht_Label2 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label2 {
  font-size: 20px;
}

#cont_uebersicht_Ellipse5 {
  top: 300px;
  position: absolute;
}

#cont_uebersicht_Ellipse5 {
  left: 239px;
  position: absolute;
}

#cont_uebersicht_Ellipse5 {
  width: 40px;
}

#cont_uebersicht_Ellipse5 {
  height: 40px;
}

#cont_uebersicht_Ellipse5 {
  z-index: 41;
}

#cont_uebersicht_Ellipse5 {
  background-color: white;
}

#cont_uebersicht_Ellipse6 {
  top: 300px;
  position: absolute;
}

#cont_uebersicht_Ellipse6 {
  left: 239px;
  position: absolute;
}

#cont_uebersicht_Ellipse6 {
  width: 40px;
}

#cont_uebersicht_Ellipse6 {
  height: 40px;
}

#cont_uebersicht_Ellipse6 {
  z-index: 42;
}

#cont_uebersicht_Ellipse6 {
  background-color: #00c000;
}

#cont_uebersicht_Label3 {
  top: 300px;
  position: absolute;
}

#cont_uebersicht_Label3 {
  left: 239px;
  position: absolute;
}

#cont_uebersicht_Label3 {
  width: 40px;
}

#cont_uebersicht_Label3 {
  height: 40px;
}

#cont_uebersicht_Label3 {
  z-index: 43;
}

#cont_uebersicht_Label3 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label3 {
  font-size: 20px;
}

#cont_uebersicht_Ellipse7 {
  top: 499px;
  position: absolute;
}

#cont_uebersicht_Ellipse7 {
  left: 340px;
  position: absolute;
}

#cont_uebersicht_Ellipse7 {
  width: 40px;
}

#cont_uebersicht_Ellipse7 {
  height: 40px;
}

#cont_uebersicht_Ellipse7 {
  z-index: 44;
}

#cont_uebersicht_Ellipse7 {
  background-color: white;
}

#cont_uebersicht_Ellipse8 {
  top: 499px;
  position: absolute;
}

#cont_uebersicht_Ellipse8 {
  left: 340px;
  position: absolute;
}

#cont_uebersicht_Ellipse8 {
  width: 40px;
}

#cont_uebersicht_Ellipse8 {
  height: 40px;
}

#cont_uebersicht_Ellipse8 {
  z-index: 45;
}

#cont_uebersicht_Ellipse8 {
  background-color: #00c000;
}

#cont_uebersicht_Ellipse9 {
  top: 499px;
  position: absolute;
}

#cont_uebersicht_Ellipse9 {
  left: 340px;
  position: absolute;
}

#cont_uebersicht_Ellipse9 {
  width: 40px;
}

#cont_uebersicht_Ellipse9 {
  height: 40px;
}

#cont_uebersicht_Ellipse9 {
  z-index: 46;
}

#cont_uebersicht_Ellipse9 {
  background-color: yellow;
}

#cont_uebersicht_Label4 {
  top: 499px;
  position: absolute;
}

#cont_uebersicht_Label4 {
  left: 340px;
  position: absolute;
}

#cont_uebersicht_Label4 {
  width: 40px;
}

#cont_uebersicht_Label4 {
  height: 40px;
}

#cont_uebersicht_Label4 {
  z-index: 47;
}

#cont_uebersicht_Label4 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label4 {
  font-size: 20px;
}

#cont_uebersicht_Line44 {
  z-index: 48;
}

#cont_uebersicht_Line45 {
  z-index: 49;
}

#cont_uebersicht_Line46 {
  z-index: 50;
}

#cont_uebersicht_Line47 {
  z-index: 51;
}

#cont_uebersicht_Line48 {
  z-index: 52;
}

#cont_uebersicht_Ellipse10 {
  top: 640px;
  position: absolute;
}

#cont_uebersicht_Ellipse10 {
  left: 180px;
  position: absolute;
}

#cont_uebersicht_Ellipse10 {
  width: 40px;
}

#cont_uebersicht_Ellipse10 {
  height: 40px;
}

#cont_uebersicht_Ellipse10 {
  z-index: 53;
}

#cont_uebersicht_Ellipse10 {
  background-color: white;
}

#cont_uebersicht_Ellipse11 {
  top: 640px;
  position: absolute;
}

#cont_uebersicht_Ellipse11 {
  left: 459px;
  position: absolute;
}

#cont_uebersicht_Ellipse11 {
  width: 40px;
}

#cont_uebersicht_Ellipse11 {
  height: 40px;
}

#cont_uebersicht_Ellipse11 {
  z-index: 54;
}

#cont_uebersicht_Ellipse11 {
  background-color: white;
}

#cont_uebersicht_Line53 {
  z-index: 55;
}

#cont_uebersicht_Line54 {
  z-index: 56;
}

#cont_uebersicht_Line49 {
  z-index: 57;
}

#cont_uebersicht_Ellipse12 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_Ellipse12 {
  left: 160px;
  position: absolute;
}

#cont_uebersicht_Ellipse12 {
  width: 40px;
}

#cont_uebersicht_Ellipse12 {
  height: 40px;
}

#cont_uebersicht_Ellipse12 {
  z-index: 58;
}

#cont_uebersicht_Ellipse12 {
  background-color: white;
}

#cont_uebersicht_Ellipse13 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_Ellipse13 {
  left: 160px;
  position: absolute;
}

#cont_uebersicht_Ellipse13 {
  width: 40px;
}

#cont_uebersicht_Ellipse13 {
  height: 40px;
}

#cont_uebersicht_Ellipse13 {
  z-index: 59;
}

#cont_uebersicht_Ellipse13 {
  background-color: yellow;
}

#cont_uebersicht_Label5 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_Label5 {
  left: 160px;
  position: absolute;
}

#cont_uebersicht_Label5 {
  width: 40px;
}

#cont_uebersicht_Label5 {
  height: 40px;
}

#cont_uebersicht_Label5 {
  z-index: 60;
}

#cont_uebersicht_Label5 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label5 {
  font-size: 20px;
}

#cont_uebersicht_Ellipse14 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_Ellipse14 {
  left: 320px;
  position: absolute;
}

#cont_uebersicht_Ellipse14 {
  width: 40px;
}

#cont_uebersicht_Ellipse14 {
  height: 41px;
}

#cont_uebersicht_Ellipse14 {
  z-index: 61;
}

#cont_uebersicht_Ellipse14 {
  background-color: white;
}

#cont_uebersicht_Ellipse15 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_Ellipse15 {
  left: 320px;
  position: absolute;
}

#cont_uebersicht_Ellipse15 {
  width: 40px;
}

#cont_uebersicht_Ellipse15 {
  height: 41px;
}

#cont_uebersicht_Ellipse15 {
  z-index: 62;
}

#cont_uebersicht_Ellipse15 {
  background-color: #00c000;
}

#cont_uebersicht_Label6 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_Label6 {
  left: 320px;
  position: absolute;
}

#cont_uebersicht_Label6 {
  width: 40px;
}

#cont_uebersicht_Label6 {
  height: 41px;
}

#cont_uebersicht_Label6 {
  z-index: 63;
}

#cont_uebersicht_Label6 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label6 {
  font-size: 20px;
}

#cont_uebersicht_Ellipse16 {
  top: 580px;
  position: absolute;
}

#cont_uebersicht_Ellipse16 {
  left: 239px;
  position: absolute;
}

#cont_uebersicht_Ellipse16 {
  width: 40px;
}

#cont_uebersicht_Ellipse16 {
  height: 41px;
}

#cont_uebersicht_Ellipse16 {
  z-index: 64;
}

#cont_uebersicht_Ellipse16 {
  background-color: white;
}

#cont_uebersicht_Ellipse17 {
  top: 580px;
  position: absolute;
}

#cont_uebersicht_Ellipse17 {
  left: 239px;
  position: absolute;
}

#cont_uebersicht_Ellipse17 {
  width: 40px;
}

#cont_uebersicht_Ellipse17 {
  height: 41px;
}

#cont_uebersicht_Ellipse17 {
  z-index: 65;
}

#cont_uebersicht_Ellipse17 {
  background-color: #00c000;
}

#cont_uebersicht_Label7 {
  top: 580px;
  position: absolute;
}

#cont_uebersicht_Label7 {
  left: 239px;
  position: absolute;
}

#cont_uebersicht_Label7 {
  width: 40px;
}

#cont_uebersicht_Label7 {
  height: 41px;
}

#cont_uebersicht_Label7 {
  z-index: 66;
}

#cont_uebersicht_Label7 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label7 {
  font-size: 20px;
}

#cont_uebersicht_Ellipse18 {
  top: 640px;
  position: absolute;
}

#cont_uebersicht_Ellipse18 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Ellipse18 {
  width: 40px;
}

#cont_uebersicht_Ellipse18 {
  height: 41px;
}

#cont_uebersicht_Ellipse18 {
  z-index: 67;
}

#cont_uebersicht_Ellipse18 {
  background-color: white;
}

#cont_uebersicht_Ellipse19 {
  top: 640px;
  position: absolute;
}

#cont_uebersicht_Ellipse19 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Ellipse19 {
  width: 40px;
}

#cont_uebersicht_Ellipse19 {
  height: 41px;
}

#cont_uebersicht_Ellipse19 {
  z-index: 68;
}

#cont_uebersicht_Ellipse19 {
  background-color: #00c000;
}

#cont_uebersicht_Label8 {
  top: 640px;
  position: absolute;
}

#cont_uebersicht_Label8 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Label8 {
  width: 40px;
}

#cont_uebersicht_Label8 {
  height: 41px;
}

#cont_uebersicht_Label8 {
  z-index: 69;
}

#cont_uebersicht_Label8 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label8 {
  font-size: 20px;
}

#cont_uebersicht_NumericOutput1 {
  width: 100px;
}

#cont_uebersicht_NumericOutput1 {
  height: 30px;
}

#cont_uebersicht_NumericOutput1 {
  top: 179px;
  position: absolute;
}

#cont_uebersicht_NumericOutput1 {
  left: 120px;
  position: absolute;
}

#cont_uebersicht_NumericOutput1 {
  z-index: 70;
}

#cont_uebersicht_NumericOutput2 {
  width: 100px;
}

#cont_uebersicht_NumericOutput2 {
  height: 30px;
}

#cont_uebersicht_NumericOutput2 {
  top: 120px;
  position: absolute;
}

#cont_uebersicht_NumericOutput2 {
  left: 120px;
  position: absolute;
}

#cont_uebersicht_NumericOutput2 {
  z-index: 71;
}

#cont_uebersicht_NumericOutput4 {
  width: 100px;
}

#cont_uebersicht_NumericOutput4 {
  height: 30px;
}

#cont_uebersicht_NumericOutput4 {
  top: 119px;
  position: absolute;
}

#cont_uebersicht_NumericOutput4 {
  left: 300px;
  position: absolute;
}

#cont_uebersicht_NumericOutput4 {
  z-index: 72;
}

#cont_uebersicht_NumericOutput3 {
  width: 100px;
}

#cont_uebersicht_NumericOutput3 {
  height: 30px;
}

#cont_uebersicht_NumericOutput3 {
  top: 180px;
  position: absolute;
}

#cont_uebersicht_NumericOutput3 {
  left: 300px;
  position: absolute;
}

#cont_uebersicht_NumericOutput3 {
  z-index: 73;
}

#cont_uebersicht_Rectangle1 {
  top: 119px;
  position: absolute;
}

#cont_uebersicht_Rectangle1 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle1 {
  width: 320px;
}

#cont_uebersicht_Rectangle1 {
  height: 40px;
}

#cont_uebersicht_Rectangle1 {
  z-index: 74;
}

#cont_uebersicht_Rectangle1 {
  background-color: white;
}

#cont_uebersicht_Rectangle2 {
  top: 119px;
  position: absolute;
}

#cont_uebersicht_Rectangle2 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle2 {
  width: 320px;
}

#cont_uebersicht_Rectangle2 {
  height: 40px;
}

#cont_uebersicht_Rectangle2 {
  z-index: 75;
}

#cont_uebersicht_Rectangle2 {
  background-color: lime;
}

#cont_uebersicht_Label9 {
  top: 120px;
  position: absolute;
}

#cont_uebersicht_Label9 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label9 {
  width: 280px;
}

#cont_uebersicht_Label9 {
  height: 40px;
}

#cont_uebersicht_Label9 {
  z-index: 76;
}

#cont_uebersicht_Label9 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label9 {
  font-size: 20px;
}

#cont_uebersicht_Rectangle3 {
  top: 180px;
  position: absolute;
}

#cont_uebersicht_Rectangle3 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle3 {
  width: 320px;
}

#cont_uebersicht_Rectangle3 {
  height: 40px;
}

#cont_uebersicht_Rectangle3 {
  z-index: 77;
}

#cont_uebersicht_Rectangle3 {
  background-color: white;
}

#cont_uebersicht_Rectangle4 {
  top: 180px;
  position: absolute;
}

#cont_uebersicht_Rectangle4 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle4 {
  width: 320px;
}

#cont_uebersicht_Rectangle4 {
  height: 40px;
}

#cont_uebersicht_Rectangle4 {
  z-index: 78;
}

#cont_uebersicht_Rectangle4 {
  background-color: lime;
}

#cont_uebersicht_Label10 {
  top: 180px;
  position: absolute;
}

#cont_uebersicht_Label10 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label10 {
  width: 280px;
}

#cont_uebersicht_Label10 {
  height: 40px;
}

#cont_uebersicht_Label10 {
  z-index: 79;
}

#cont_uebersicht_Label10 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label10 {
  font-size: 20px;
}

#cont_uebersicht_Rectangle5 {
  top: 239px;
  position: absolute;
}

#cont_uebersicht_Rectangle5 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle5 {
  width: 320px;
}

#cont_uebersicht_Rectangle5 {
  height: 40px;
}

#cont_uebersicht_Rectangle5 {
  z-index: 80;
}

#cont_uebersicht_Rectangle5 {
  background-color: white;
}

#cont_uebersicht_Rectangle6 {
  top: 239px;
  position: absolute;
}

#cont_uebersicht_Rectangle6 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle6 {
  width: 320px;
}

#cont_uebersicht_Rectangle6 {
  height: 40px;
}

#cont_uebersicht_Rectangle6 {
  z-index: 81;
}

#cont_uebersicht_Rectangle6 {
  background-color: lime;
}

#cont_uebersicht_Label11 {
  top: 240px;
  position: absolute;
}

#cont_uebersicht_Label11 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label11 {
  width: 280px;
}

#cont_uebersicht_Label11 {
  height: 40px;
}

#cont_uebersicht_Label11 {
  z-index: 82;
}

#cont_uebersicht_Label11 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label11 {
  font-size: 20px;
}

#cont_uebersicht_Rectangle7 {
  top: 300px;
  position: absolute;
}

#cont_uebersicht_Rectangle7 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle7 {
  width: 320px;
}

#cont_uebersicht_Rectangle7 {
  height: 40px;
}

#cont_uebersicht_Rectangle7 {
  z-index: 83;
}

#cont_uebersicht_Rectangle7 {
  background-color: white;
}

#cont_uebersicht_Rectangle8 {
  top: 300px;
  position: absolute;
}

#cont_uebersicht_Rectangle8 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle8 {
  width: 320px;
}

#cont_uebersicht_Rectangle8 {
  height: 40px;
}

#cont_uebersicht_Rectangle8 {
  z-index: 84;
}

#cont_uebersicht_Rectangle8 {
  background-color: lime;
}

#cont_uebersicht_Label12 {
  top: 300px;
  position: absolute;
}

#cont_uebersicht_Label12 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label12 {
  width: 280px;
}

#cont_uebersicht_Label12 {
  height: 40px;
}

#cont_uebersicht_Label12 {
  z-index: 85;
}

#cont_uebersicht_Label12 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label12 {
  font-size: 20px;
}

#cont_uebersicht_Rectangle9 {
  top: 360px;
  position: absolute;
}

#cont_uebersicht_Rectangle9 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle9 {
  width: 320px;
}

#cont_uebersicht_Rectangle9 {
  height: 40px;
}

#cont_uebersicht_Rectangle9 {
  z-index: 86;
}

#cont_uebersicht_Rectangle9 {
  background-color: white;
}

#cont_uebersicht_Rectangle10 {
  top: 360px;
  position: absolute;
}

#cont_uebersicht_Rectangle10 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle10 {
  width: 320px;
}

#cont_uebersicht_Rectangle10 {
  height: 40px;
}

#cont_uebersicht_Rectangle10 {
  z-index: 87;
}

#cont_uebersicht_Rectangle10 {
  background-color: lime;
}

#cont_uebersicht_Label13 {
  top: 360px;
  position: absolute;
}

#cont_uebersicht_Label13 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label13 {
  width: 280px;
}

#cont_uebersicht_Label13 {
  height: 40px;
}

#cont_uebersicht_Label13 {
  z-index: 88;
}

#cont_uebersicht_Label13 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label13 {
  font-size: 20px;
}

#cont_uebersicht_Rectangle11 {
  top: 420px;
  position: absolute;
}

#cont_uebersicht_Rectangle11 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle11 {
  width: 320px;
}

#cont_uebersicht_Rectangle11 {
  height: 40px;
}

#cont_uebersicht_Rectangle11 {
  z-index: 89;
}

#cont_uebersicht_Rectangle11 {
  background-color: white;
}

#cont_uebersicht_Rectangle12 {
  top: 420px;
  position: absolute;
}

#cont_uebersicht_Rectangle12 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle12 {
  width: 320px;
}

#cont_uebersicht_Rectangle12 {
  height: 40px;
}

#cont_uebersicht_Rectangle12 {
  z-index: 90;
}

#cont_uebersicht_Rectangle12 {
  background-color: lime;
}

#cont_uebersicht_Label14 {
  top: 420px;
  position: absolute;
}

#cont_uebersicht_Label14 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label14 {
  width: 280px;
}

#cont_uebersicht_Label14 {
  height: 40px;
}

#cont_uebersicht_Label14 {
  z-index: 91;
}

#cont_uebersicht_Label14 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label14 {
  font-size: 20px;
}

#cont_uebersicht_Rectangle13 {
  top: 59px;
  position: absolute;
}

#cont_uebersicht_Rectangle13 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle13 {
  width: 320px;
}

#cont_uebersicht_Rectangle13 {
  height: 40px;
}

#cont_uebersicht_Rectangle13 {
  z-index: 92;
}

#cont_uebersicht_Rectangle13 {
  background-color: white;
}

#cont_uebersicht_Rectangle14 {
  top: 59px;
  position: absolute;
}

#cont_uebersicht_Rectangle14 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle14 {
  width: 320px;
}

#cont_uebersicht_Rectangle14 {
  height: 40px;
}

#cont_uebersicht_Rectangle14 {
  z-index: 93;
}

#cont_uebersicht_Rectangle14 {
  background-color: yellow;
}

#cont_uebersicht_Label15 {
  top: 60px;
  position: absolute;
}

#cont_uebersicht_Label15 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label15 {
  width: 280px;
}

#cont_uebersicht_Label15 {
  height: 40px;
}

#cont_uebersicht_Label15 {
  z-index: 94;
}

#cont_uebersicht_Label15 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label15 {
  font-size: 20px;
}

#cont_uebersicht_Label16 {
  top: 140px;
  position: absolute;
}

#cont_uebersicht_Label16 {
  left: 120px;
  position: absolute;
}

#cont_uebersicht_Label16 {
  width: 100px;
}

#cont_uebersicht_Label16 {
  height: 60px;
}

#cont_uebersicht_Label16 {
  z-index: 95;
}

#cont_uebersicht_Label16 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label17 {
  top: 80px;
  position: absolute;
}

#cont_uebersicht_Label17 {
  left: 120px;
  position: absolute;
}

#cont_uebersicht_Label17 {
  width: 100px;
}

#cont_uebersicht_Label17 {
  height: 60px;
}

#cont_uebersicht_Label17 {
  z-index: 96;
}

#cont_uebersicht_Label17 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label18 {
  top: 80px;
  position: absolute;
}

#cont_uebersicht_Label18 {
  left: 300px;
  position: absolute;
}

#cont_uebersicht_Label18 {
  width: 100px;
}

#cont_uebersicht_Label18 {
  height: 60px;
}

#cont_uebersicht_Label18 {
  z-index: 97;
}

#cont_uebersicht_Label18 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label19 {
  top: 140px;
  position: absolute;
}

#cont_uebersicht_Label19 {
  left: 300px;
  position: absolute;
}

#cont_uebersicht_Label19 {
  width: 100px;
}

#cont_uebersicht_Label19 {
  height: 60px;
}

#cont_uebersicht_Label19 {
  z-index: 98;
}

#cont_uebersicht_Label19 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Line26 {
  z-index: 99;
}

#cont_uebersicht_NumericOutput5 {
  width: 100px;
}

#cont_uebersicht_NumericOutput5 {
  height: 30px;
}

#cont_uebersicht_NumericOutput5 {
  top: 60px;
  position: absolute;
}

#cont_uebersicht_NumericOutput5 {
  left: 300px;
  position: absolute;
}

#cont_uebersicht_NumericOutput5 {
  z-index: 100;
}

#cont_uebersicht_NumericOutput6 {
  width: 100px;
}

#cont_uebersicht_NumericOutput6 {
  height: 30px;
}

#cont_uebersicht_NumericOutput6 {
  top: 60px;
  position: absolute;
}

#cont_uebersicht_NumericOutput6 {
  left: 120px;
  position: absolute;
}

#cont_uebersicht_NumericOutput6 {
  z-index: 101;
}

#cont_uebersicht_Label20 {
  top: 20px;
  position: absolute;
}

#cont_uebersicht_Label20 {
  left: 120px;
  position: absolute;
}

#cont_uebersicht_Label20 {
  width: 100px;
}

#cont_uebersicht_Label20 {
  height: 60px;
}

#cont_uebersicht_Label20 {
  z-index: 102;
}

#cont_uebersicht_Label20 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label21 {
  top: 20px;
  position: absolute;
}

#cont_uebersicht_Label21 {
  left: 300px;
  position: absolute;
}

#cont_uebersicht_Label21 {
  width: 100px;
}

#cont_uebersicht_Label21 {
  height: 60px;
}

#cont_uebersicht_Label21 {
  z-index: 103;
}

#cont_uebersicht_Label21 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_NumericOutput7 {
  width: 100px;
}

#cont_uebersicht_NumericOutput7 {
  height: 30px;
}

#cont_uebersicht_NumericOutput7 {
  top: 420px;
  position: absolute;
}

#cont_uebersicht_NumericOutput7 {
  left: 160px;
  position: absolute;
}

#cont_uebersicht_NumericOutput7 {
  z-index: 104;
}

#cont_uebersicht_NumericOutput8 {
  width: 100px;
}

#cont_uebersicht_NumericOutput8 {
  height: 30px;
}

#cont_uebersicht_NumericOutput8 {
  top: 420px;
  position: absolute;
}

#cont_uebersicht_NumericOutput8 {
  left: 260px;
  position: absolute;
}

#cont_uebersicht_NumericOutput8 {
  z-index: 105;
}

#cont_uebersicht_Label22 {
  top: 380px;
  position: absolute;
}

#cont_uebersicht_Label22 {
  left: 180px;
  position: absolute;
}

#cont_uebersicht_Label22 {
  width: 160px;
}

#cont_uebersicht_Label22 {
  height: 60px;
}

#cont_uebersicht_Label22 {
  z-index: 106;
}

#cont_uebersicht_Label22 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_RadialSlider1 {
  top: 540px;
  position: absolute;
}

#cont_uebersicht_RadialSlider1 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_RadialSlider1 {
  width: 140px;
}

#cont_uebersicht_RadialSlider1 {
  height: 140px;
}

#cont_uebersicht_RadialSlider1 {
  z-index: 107;
}

#cont_uebersicht_RadialSlider1 {
  border-style: none;
}

#cont_uebersicht_Label23 {
  top: 520px;
  position: absolute;
}

#cont_uebersicht_Label23 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Label23 {
  width: 140px;
}

#cont_uebersicht_Label23 {
  height: 40px;
}

#cont_uebersicht_Label23 {
  z-index: 108;
}

#cont_uebersicht_Label23 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label23 {
  font-size: 20px;
}

#cont_uebersicht_NumericOutput9 {
  width: 100px;
}

#cont_uebersicht_NumericOutput9 {
  height: 30px;
}

#cont_uebersicht_NumericOutput9 {
  top: 700px;
  position: absolute;
}

#cont_uebersicht_NumericOutput9 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_NumericOutput9 {
  z-index: 109;
}

#cont_uebersicht_Label24 {
  top: 660px;
  position: absolute;
}

#cont_uebersicht_Label24 {
  left: 540px;
  position: absolute;
}

#cont_uebersicht_Label24 {
  width: 100px;
}

#cont_uebersicht_Label24 {
  height: 60px;
}

#cont_uebersicht_Label24 {
  z-index: 110;
}

#cont_uebersicht_Label24 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_RadialSlider2 {
  top: 540px;
  position: absolute;
}

#cont_uebersicht_RadialSlider2 {
  left: 700px;
  position: absolute;
}

#cont_uebersicht_RadialSlider2 {
  width: 140px;
}

#cont_uebersicht_RadialSlider2 {
  height: 140px;
}

#cont_uebersicht_RadialSlider2 {
  z-index: 111;
}

#cont_uebersicht_RadialSlider2 {
  border-style: none;
}

#cont_uebersicht_Label25 {
  top: 520px;
  position: absolute;
}

#cont_uebersicht_Label25 {
  left: 700px;
  position: absolute;
}

#cont_uebersicht_Label25 {
  width: 140px;
}

#cont_uebersicht_Label25 {
  height: 40px;
}

#cont_uebersicht_Label25 {
  z-index: 112;
}

#cont_uebersicht_Label25 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label25 {
  font-size: 20px;
}

#cont_uebersicht_NumericOutput10 {
  width: 100px;
}

#cont_uebersicht_NumericOutput10 {
  height: 30px;
}

#cont_uebersicht_NumericOutput10 {
  top: 700px;
  position: absolute;
}

#cont_uebersicht_NumericOutput10 {
  left: 720px;
  position: absolute;
}

#cont_uebersicht_NumericOutput10 {
  z-index: 113;
}

#cont_uebersicht_Label26 {
  top: 660px;
  position: absolute;
}

#cont_uebersicht_Label26 {
  left: 720px;
  position: absolute;
}

#cont_uebersicht_Label26 {
  width: 100px;
}

#cont_uebersicht_Label26 {
  height: 60px;
}

#cont_uebersicht_Label26 {
  z-index: 114;
}

#cont_uebersicht_Label26 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label27 {
  height: 30px;
}

#cont_uebersicht_Label27 {
  top: 260px;
  position: absolute;
}

#cont_uebersicht_Label27 {
  left: 100px;
  position: absolute;
}

#cont_uebersicht_Label27 {
  width: 140px;
}

#cont_uebersicht_Label27 {
  z-index: 115;
}

#cont_uebersicht_Label27 {
  background-color: red;
}

#cont_uebersicht_Label27 span {
  color: white;
}

#cont_uebersicht_Label27 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label28 {
  height: 30px;
}

#cont_uebersicht_Label28 {
  top: 260px;
  position: absolute;
}

#cont_uebersicht_Label28 {
  left: 280px;
  position: absolute;
}

#cont_uebersicht_Label28 {
  width: 140px;
}

#cont_uebersicht_Label28 {
  z-index: 116;
}

#cont_uebersicht_Label28 {
  background-color: red;
}

#cont_uebersicht_Label28 span {
  color: white;
}

#cont_uebersicht_Label28 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Rectangle15 {
  top: 480px;
  position: absolute;
}

#cont_uebersicht_Rectangle15 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_Rectangle15 {
  width: 140px;
}

#cont_uebersicht_Rectangle15 {
  height: 40px;
}

#cont_uebersicht_Rectangle15 {
  z-index: 117;
}

#cont_uebersicht_Rectangle16 {
  top: 480px;
  position: absolute;
}

#cont_uebersicht_Rectangle16 {
  left: 700px;
  position: absolute;
}

#cont_uebersicht_Rectangle16 {
  width: 140px;
}

#cont_uebersicht_Rectangle16 {
  height: 40px;
}

#cont_uebersicht_Rectangle16 {
  z-index: 118;
}

#cont_uebersicht_Rectangle16 {
  background-color: #80ffff;
}

#cont_uebersicht_PushButton1 {
  top: 480px;
  position: absolute;
}

#cont_uebersicht_PushButton1 {
  left: 520px;
  position: absolute;
}

#cont_uebersicht_PushButton1 {
  width: 140px;
}

#cont_uebersicht_PushButton1 {
  height: 40px;
}

#cont_uebersicht_PushButton1 {
  z-index: 119;
}

#cont_uebersicht_PushButton1:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#cont_uebersicht_PushButton1 span {
  font-size: 20px;
}

#cont_uebersicht_PushButton2 {
  top: 480px;
  position: absolute;
}

#cont_uebersicht_PushButton2 {
  left: 700px;
  position: absolute;
}

#cont_uebersicht_PushButton2 {
  width: 140px;
}

#cont_uebersicht_PushButton2 {
  height: 40px;
}

#cont_uebersicht_PushButton2 {
  z-index: 120;
}

#cont_uebersicht_PushButton2:not(.disabled):not(.active):not(.checked) {
  background-color: rgba(255, 255, 255, 0);
}

#cont_uebersicht_PushButton2 span {
  font-size: 20px;
}

#cont_uebersicht_NumericOutput11 {
  width: 100px;
}

#cont_uebersicht_NumericOutput11 {
  height: 30px;
}

#cont_uebersicht_NumericOutput11 {
  top: 500px;
  position: absolute;
}

#cont_uebersicht_NumericOutput11 {
  left: 20px;
  position: absolute;
}

#cont_uebersicht_NumericOutput11 {
  z-index: 121;
}

#cont_uebersicht_NumericOutput12 {
  width: 100px;
}

#cont_uebersicht_NumericOutput12 {
  height: 30px;
}

#cont_uebersicht_NumericOutput12 {
  top: 560px;
  position: absolute;
}

#cont_uebersicht_NumericOutput12 {
  left: 20px;
  position: absolute;
}

#cont_uebersicht_NumericOutput12 {
  z-index: 122;
}

#cont_uebersicht_Label29 {
  top: 460px;
  position: absolute;
}

#cont_uebersicht_Label29 {
  left: 20px;
  position: absolute;
}

#cont_uebersicht_Label29 {
  width: 100px;
}

#cont_uebersicht_Label29 {
  height: 60px;
}

#cont_uebersicht_Label29 {
  z-index: 123;
}

#cont_uebersicht_Label29 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#cont_uebersicht_Label30 {
  top: 520px;
  position: absolute;
}

#cont_uebersicht_Label30 {
  left: 20px;
  position: absolute;
}

#cont_uebersicht_Label30 {
  width: 100px;
}

#cont_uebersicht_Label30 {
  height: 60px;
}

#cont_uebersicht_Label30 {
  z-index: 124;
}

#cont_uebersicht_Label30 {
  justify-content: center;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}
